body {
  text-align: center;
  font-family: helvetica;
}
.header {
  background: url("../images/the-flatiron-building.png") 0 / cover;
  color: white;
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
.process h2 {
  font-weight: bold;
  font-size: 32px;
}
.process h3 {
  font-size: 23px;
  font-weight: bold;
}
.process p {
  font-size: 14px;
}
.designed h2 {
  background: url("../images/the-flatiron-building.png") 0 / cover;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.designed h3 {
  font-size: 23px;
  font-weight: bold;
}
.designed p {
  font-size: 14px;
}
.footer span {
  font-size: 11px;
  color: white;
}
.footer {
text-align: left;
background-color: dimgray;
}
